In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import warnings
warnings.filterwarnings('ignore')

In [2]:
order_x_report = pd.read_excel("C:/Users/kaush/OneDrive/Desktop/Company X - Order Report.xlsx")
x_pincode_zone = pd.read_excel("C:/Users/kaush/OneDrive/Desktop/Company X - Pincode Zones.xlsx")
x_sku = pd.read_excel("C:/Users/kaush/OneDrive/Desktop/Company X - SKU Master.xlsx")
Courier_Company_Invoice = pd.read_excel("C:/Users/kaush/OneDrive/Desktop/Courier Company - Invoice.xlsx")
Courier_company_rate = pd.read_excel("C:/Users/kaush/OneDrive/Desktop/Courier Company - Rates.xlsx")

In [3]:
order_x_report

     ExternOrderNo            SKU  Order_Qty
0       2001827036  8904223818706        1.0
1       2001827036  8904223819093        1.0
2       2001827036  8904223819109        1.0
3       2001827036  8904223818430        1.0
4       2001827036  8904223819277        1.0
..             ...            ...        ...
395     2001806229  8904223818942        1.0
396     2001806229  8904223818850        1.0
397     2001806226  8904223818850        2.0
398     2001806210  8904223816214        1.0
399     2001806210  8904223818874        1.0

[400 rows x 3 columns]

In [4]:
x_pincode_zone

     Warehouse Pincode  Customer Pincode Zone
0               121003            507101    d
1               121003            486886    d
2               121003            532484    d
3               121003            143001    b
4               121003            515591    d
..                 ...               ...  ...
119             121003            325207    b
120             121003            303702    b
121             121003            313301    b
122             121003            173212    e
123             121003            302020    b

[124 rows x 3 columns]

In [5]:
x_sku

              SKU  Weight (g)
0   8904223815682         210
1   8904223815859         165
2   8904223815866         113
3   8904223815873          65
4   8904223816214         120
..            ...         ...
61  8904223819505         210
62  8904223819499         210
63  8904223819512         210
64  8904223819543         300
65     SACHETS001          10

[66 rows x 2 columns]

In [6]:
Courier_Company_Invoice

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4
...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,90.2
120,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7
121,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4
122,1091121844806,2001811475,0.50,121003,173212,b,Forward charges,33.0
123,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4

In [7]:
Courier_company_rate

,fwd_a_fixed,fwd_a_additional,fwd_b_fixed,fwd_b_additional,fwd_c_fixed,fwd_c_additional,fwd_d_fixed,fwd_d_additional,fwd_e_fixed,fwd_e_additional,rto_a_fixed,rto_a_additional,rto_b_fixed,rto_b_additional,rto_c_fixed,rto_c_additional,rto_d_fixed,rto_d_additional,rto_e_fixed,rto_e_additional
0,29.5,23.6,33,28.3,40.1,38.9,45.4,44.8,56.6,55.5,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5

In [8]:
new_sku_x = pd.merge(order_x_report,x_sku,on='SKU',how='left')

In [9]:
new_sku_x

     ExternOrderNo            SKU  Order_Qty  Weight (g)
0       2001827036  8904223818706        1.0         127
1       2001827036  8904223819093        1.0         150
2       2001827036  8904223819109        1.0         100
3       2001827036  8904223818430        1.0         165
4       2001827036  8904223819277        1.0         350
..             ...            ...        ...         ...
396     2001806229  8904223818942        1.0         133
397     2001806229  8904223818850        1.0         240
398     2001806226  8904223818850        2.0         240
399     2001806210  8904223816214        1.0         120
400     2001806210  8904223818874        1.0         100

[401 rows x 4 columns]

In [10]:
new_sku_x['Total_weight_per_x_(g)'] = new_sku_x['Order_Qty']*new_sku_x['Weight (g)']

In [11]:
new_sku_x

,ExternOrderNo,SKU,Order_Qty,Weight (g),Total_weight_per_x_(g)
0,2001827036,8904223818706,1.0,127,127.0
1,2001827036,8904223819093,1.0,150,150.0
2,2001827036,8904223819109,1.0,100,100.0
3,2001827036,8904223818430,1.0,165,165.0
4,2001827036,8904223819277,1.0,350,350.0
...,...,...,...,...,...
396,2001806229,8904223818942,1.0,133,133.0
397,2001806229,8904223818850,1.0,240,240.0
398,2001806226,8904223818850,2.0,240,480.0
399,2001806210,8904223816214,1.0,120,120.0
400,2001806210,8904223818874,1.0,100,100.0

In [12]:
new_sku_x.drop('Order_Qty',axis=1,inplace=True)

In [13]:
new_sku_x

     ExternOrderNo            SKU  Weight (g)  Total_weight_per_x_(g)
0       2001827036  8904223818706         127                   127.0
1       2001827036  8904223819093         150                   150.0
2       2001827036  8904223819109         100                   100.0
3       2001827036  8904223818430         165                   165.0
4       2001827036  8904223819277         350                   350.0
..             ...            ...         ...                     ...
396     2001806229  8904223818942         133                   133.0
397     2001806229  8904223818850         240                   240.0
398     2001806226  8904223818850         240                   480.0
399     2001806210  8904223816214         120                   120.0
400     2001806210  8904223818874         100                   100.0

[401 rows x 4 columns]

In [14]:
new_sku_x.nunique()

ExternOrderNo             124
SKU                        65
Weight (g)                 31
Total_weight_per_x_(g)     46
dtype: int64

In [15]:
new_sku_x

     ExternOrderNo            SKU  Weight (g)  Total_weight_per_x_(g)
0       2001827036  8904223818706         127                   127.0
1       2001827036  8904223819093         150                   150.0
2       2001827036  8904223819109         100                   100.0
3       2001827036  8904223818430         165                   165.0
4       2001827036  8904223819277         350                   350.0
..             ...            ...         ...                     ...
396     2001806229  8904223818942         133                   133.0
397     2001806229  8904223818850         240                   240.0
398     2001806226  8904223818850         240                   480.0
399     2001806210  8904223816214         120                   120.0
400     2001806210  8904223818874         100                   100.0

[401 rows x 4 columns]

In [16]:
df = new_sku_x.groupby('ExternOrderNo').agg({'Total_weight_per_x_(g)':'sum'})

In [17]:
df.reset_index(inplace=True)

In [18]:
df.rename(columns={'ExternOrderNo':'Order_ID'},inplace=True)

In [19]:
Courier_Company_Invoice

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4
...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,90.2
120,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7
121,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4
122,1091121844806,2001811475,0.50,121003,173212,b,Forward charges,33.0
123,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4

In [20]:
df1 = Courier_Company_Invoice[['AWB Code','Order ID']]

In [21]:
df1

          AWB Code    Order ID
0    1091117222124  2001806232
1    1091117222194  2001806273
2    1091117222931  2001806408
3    1091117223244  2001806458
4    1091117229345  2001807012
..             ...         ...
119  1091118551656  2001812941
120  1091117614452  2001809383
121  1091120922803  2001820978
122  1091121844806  2001811475
123  1091121846136  2001811305

[124 rows x 2 columns]

In [22]:
df1.rename(columns={'Order ID':'Order_ID'},inplace=True)

In [23]:
df2 = pd.merge(df1,df,on='Order_ID',how='left')

In [24]:
df2

          AWB Code    Order_ID  Total_weight_per_x_(g)
0    1091117222124  2001806232                  1302.0
1    1091117222194  2001806273                   615.0
2    1091117222931  2001806408                  2265.0
3    1091117223244  2001806458                   700.0
4    1091117229345  2001807012                   240.0
..             ...         ...                     ...
119  1091118551656  2001812941                   500.0
120  1091117614452  2001809383                   607.0
121  1091120922803  2001820978                   515.0
122  1091121844806  2001811475                   689.0
123  1091121846136  2001811305                   750.0

[124 rows x 3 columns]

In [25]:
df2['Total_weight_per_X_(kg)'] = df2['Total_weight_per_x_(g)']/1000

In [26]:
df2['Weight Slab X(KG)'] = np.ceil(df2['Total_weight_per_X_(kg)']/0.5)*0.5

In [27]:
df2.drop('Total_weight_per_x_(g)',axis=1,inplace=True)

In [28]:
df2['Total_weight_Courier_(kg)'] = Courier_Company_Invoice['Charged Weight']

In [29]:
df2

,AWB Code,Order_ID,Total_weight_per_X_(kg),Weight Slab X(KG),Total_weight_Courier_(kg)
0,1091117222124,2001806232,1.302,1.5,1.30
1,1091117222194,2001806273,0.615,1.0,1.00
2,1091117222931,2001806408,2.265,2.5,2.50
3,1091117223244,2001806458,0.700,1.0,1.00
4,1091117229345,2001807012,0.240,0.5,0.15
...,...,...,...,...,...
119,1091118551656,2001812941,0.500,0.5,0.73
120,1091117614452,2001809383,0.607,1.0,0.50
121,1091120922803,2001820978,0.515,1.0,0.50
122,1091121844806,2001811475,0.689,1.0,0.50
123,1091121846136,2001811305,0.750,1.0,0.50

In [30]:
df2['Weight Slab courier(KG)']=np.ceil(df2['Total_weight_Courier_(kg)']/0.5)*0.5

In [31]:
df2

,AWB Code,Order_ID,Total_weight_per_X_(kg),Weight Slab X(KG),Total_weight_Courier_(kg),Weight Slab courier(KG)
0,1091117222124,2001806232,1.302,1.5,1.30,1.5
1,1091117222194,2001806273,0.615,1.0,1.00,1.0
2,1091117222931,2001806408,2.265,2.5,2.50,2.5
3,1091117223244,2001806458,0.700,1.0,1.00,1.0
4,1091117229345,2001807012,0.240,0.5,0.15,0.5
...,...,...,...,...,...,...
119,1091118551656,2001812941,0.500,0.5,0.73,1.0
120,1091117614452,2001809383,0.607,1.0,0.50,0.5
121,1091120922803,2001820978,0.515,1.0,0.50,0.5
122,1091121844806,2001811475,0.689,1.0,0.50,0.5
123,1091121846136,2001811305,0.750,1.0,0.50,0.5

In [32]:
Courier_Company_Invoice

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4
...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,90.2
120,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7
121,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4
122,1091121844806,2001811475,0.50,121003,173212,b,Forward charges,33.0
123,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4

In [33]:
x_pincode_zone

     Warehouse Pincode  Customer Pincode Zone
0               121003            507101    d
1               121003            486886    d
2               121003            532484    d
3               121003            143001    b
4               121003            515591    d
..                 ...               ...  ...
119             121003            325207    b
120             121003            303702    b
121             121003            313301    b
122             121003            173212    e
123             121003            302020    b

[124 rows x 3 columns]

In [34]:
pincode = pd.merge(Courier_Company_Invoice,x_pincode_zone,on=['Warehouse Pincode','Customer Pincode'],how='left')

In [35]:
pincode.rename(columns={'Order ID':'Order_ID'},inplace=True)

In [36]:
df2 = pd.merge(df2,pincode,on='Order_ID',how='left')

In [37]:
df2.columns

Index(['AWB Code_x', 'Order_ID', 'Total_weight_per_X_(kg)',
       'Weight Slab X(KG)', 'Total_weight_Courier_(kg)',
       'Weight Slab courier(KG)', 'AWB Code_y', 'Charged Weight',
       'Warehouse Pincode', 'Customer Pincode', 'Zone_x', 'Type of Shipment',
       'Billing Amount (Rs.)', 'Zone_y'],
      dtype='object')

In [38]:
df2.drop(['AWB Code_y','Charged Weight'],axis=1,inplace=True)

In [39]:
df2

,AWB Code_x,Order_ID,Total_weight_per_X_(kg),Weight Slab X(KG),Total_weight_Courier_(kg),Weight Slab courier(KG),Warehouse Pincode,Customer Pincode,Zone_x,Type of Shipment,Billing Amount (Rs.),Zone_y
0,1091117222124,2001806232,1.302,1.5,1.30,1.5,121003,507101,d,Forward charges,135.0,d
1,1091117222194,2001806273,0.615,1.0,1.00,1.0,121003,486886,d,Forward charges,90.2,d
2,1091117222931,2001806408,2.265,2.5,2.50,2.5,121003,532484,d,Forward charges,224.6,d
3,1091117223244,2001806458,0.700,1.0,1.00,1.0,121003,143001,b,Forward charges,61.3,b
4,1091117229345,2001807012,0.240,0.5,0.15,0.5,121003,515591,d,Forward charges,45.4,d
...,...,...,...,...,...,...,...,...,...,...,...,...
169,1091120922803,2001820978,0.515,1.0,0.50,0.5,121003,313301,d,Forward charges,45.4,b
170,1091121844806,2001811475,0.689,1.0,0.50,0.5,121003,173212,b,Forward charges,33.0,e
171,1091121844806,2001811475,0.689,1.0,0.50,0.5,121003,173212,b,Forward charges,33.0,e
172,1091121846136,2001811305,0.750,1.0,0.50,0.5,121003,302020,d,Forward charges,45.4,b
173,1091121846136,2001811305,0.750,1.0,0.50,0.5,121003,302020,d,Forward charges,45.4,b

In [40]:
df2.duplicated().sum()

50

In [41]:
df2.drop_duplicates(inplace=True)

In [42]:
df2

,AWB Code_x,Order_ID,Total_weight_per_X_(kg),Weight Slab X(KG),Total_weight_Courier_(kg),Weight Slab courier(KG),Warehouse Pincode,Customer Pincode,Zone_x,Type of Shipment,Billing Amount (Rs.),Zone_y
0,1091117222124,2001806232,1.302,1.5,1.30,1.5,121003,507101,d,Forward charges,135.0,d
1,1091117222194,2001806273,0.615,1.0,1.00,1.0,121003,486886,d,Forward charges,90.2,d
2,1091117222931,2001806408,2.265,2.5,2.50,2.5,121003,532484,d,Forward charges,224.6,d
3,1091117223244,2001806458,0.700,1.0,1.00,1.0,121003,143001,b,Forward charges,61.3,b
4,1091117229345,2001807012,0.240,0.5,0.15,0.5,121003,515591,d,Forward charges,45.4,d
...,...,...,...,...,...,...,...,...,...,...,...,...
167,1091118551656,2001812941,0.500,0.5,0.73,1.0,121003,325207,d,Forward charges,90.2,b
168,1091117614452,2001809383,0.607,1.0,0.50,0.5,121003,303702,d,Forward and RTO charges,86.7,b
169,1091120922803,2001820978,0.515,1.0,0.50,0.5,121003,313301,d,Forward charges,45.4,b
170,1091121844806,2001811475,0.689,1.0,0.50,0.5,121003,173212,b,Forward charges,33.0,e
172,1091121846136,2001811305,0.750,1.0,0.50,0.5,121003,302020,d,Forward charges,45.4,b

In [43]:
df2.rename(columns={'AWB Code_x':'AWB Code','Zone_x':'Zone_per_x','Zone_y':'Zone_per_courier'},inplace=True)

In [44]:
df2

,AWB Code,Order_ID,Total_weight_per_X_(kg),Weight Slab X(KG),Total_weight_Courier_(kg),Weight Slab courier(KG),Warehouse Pincode,Customer Pincode,Zone_per_x,Type of Shipment,Billing Amount (Rs.),Zone_per_courier
0,1091117222124,2001806232,1.302,1.5,1.30,1.5,121003,507101,d,Forward charges,135.0,d
1,1091117222194,2001806273,0.615,1.0,1.00,1.0,121003,486886,d,Forward charges,90.2,d
2,1091117222931,2001806408,2.265,2.5,2.50,2.5,121003,532484,d,Forward charges,224.6,d
3,1091117223244,2001806458,0.700,1.0,1.00,1.0,121003,143001,b,Forward charges,61.3,b
4,1091117229345,2001807012,0.240,0.5,0.15,0.5,121003,515591,d,Forward charges,45.4,d
...,...,...,...,...,...,...,...,...,...,...,...,...
167,1091118551656,2001812941,0.500,0.5,0.73,1.0,121003,325207,d,Forward charges,90.2,b
168,1091117614452,2001809383,0.607,1.0,0.50,0.5,121003,303702,d,Forward and RTO charges,86.7,b
169,1091120922803,2001820978,0.515,1.0,0.50,0.5,121003,313301,d,Forward charges,45.4,b
170,1091121844806,2001811475,0.689,1.0,0.50,0.5,121003,173212,b,Forward charges,33.0,e
172,1091121846136,2001811305,0.750,1.0,0.50,0.5,121003,302020,d,Forward charges,45.4,b

In [ ]:
c_rate = Courier_company_rate.T.reset_index()

In [46]:
c_rate.rename(columns={0:'rate','index':'key'},inplace=True)

In [47]:
c_rate.key

0          fwd_a_fixed
1     fwd_a_additional
2          fwd_b_fixed
3     fwd_b_additional
4          fwd_c_fixed
5     fwd_c_additional
6          fwd_d_fixed
7     fwd_d_additional
8          fwd_e_fixed
9     fwd_e_additional
10         rto_a_fixed
11    rto_a_additional
12         rto_b_fixed
13    rto_b_additional
14         rto_c_fixed
15    rto_c_additional
16         rto_d_fixed
17    rto_d_additional
18         rto_e_fixed
19    rto_e_additional
Name: key, dtype: object

# expected rate

In [49]:
df2['fwd_fixed_zone_key'] = 'fwd_' + df2['Zone_per_x'] + '_fixed'

In [50]:
df2 = pd.merge(df2,c_rate, left_on = 'fwd_fixed_zone_key', right_on = 'key', how = 'left')

In [51]:
df2.rename(columns={'rate':'fixed_zone_rate'},inplace=True)

In [52]:
df2

,AWB Code,Order_ID,Total_weight_per_X_(kg),Weight Slab X(KG),Total_weight_Courier_(kg),Weight Slab courier(KG),Warehouse Pincode,Customer Pincode,Zone_per_x,Type of Shipment,Billing Amount (Rs.),Zone_per_courier,fwd_fixed_zone_key,key,fixed_zone_rate
0,1091117222124,2001806232,1.302,1.5,1.30,1.5,121003,507101,d,Forward charges,135.0,d,fwd_d_fixed,fwd_d_fixed,45.4
1,1091117222194,2001806273,0.615,1.0,1.00,1.0,121003,486886,d,Forward charges,90.2,d,fwd_d_fixed,fwd_d_fixed,45.4
2,1091117222931,2001806408,2.265,2.5,2.50,2.5,121003,532484,d,Forward charges,224.6,d,fwd_d_fixed,fwd_d_fixed,45.4
3,1091117223244,2001806458,0.700,1.0,1.00,1.0,121003,143001,b,Forward charges,61.3,b,fwd_b_fixed,fwd_b_fixed,33.0
4,1091117229345,2001807012,0.240,0.5,0.15,0.5,121003,515591,d,Forward charges,45.4,d,fwd_d_fixed,fwd_d_fixed,45.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.500,0.5,0.73,1.0,121003,325207,d,Forward charges,90.2,b,fwd_d_fixed,fwd_d_fixed,45.4
120,1091117614452,2001809383,0.607,1.0,0.50,0.5,121003,303702,d,Forward and RTO charges,86.7,b,fwd_d_fixed,fwd_d_fixed,45.4
121,1091120922803,2001820978,0.515,1.0,0.50,0.5,121003,313301,d,Forward charges,45.4,b,fwd_d_fixed,fwd_d_fixed,45.4
122,1091121844806,2001811475,0.689,1.0,0.50,0.5,121003,173212,b,Forward charges,33.0,e,fwd_b_fixed,fwd_b_fixed,33.0
123,1091121846136,2001811305,0.750,1.0,0.50,0.5,121003,302020,d,Forward charges,45.4,b,fwd_d_fixed,fwd_d_fixed,45.4

In [53]:
df2['fwd_additional_zone_key'] = 'fwd_' + df2['Zone_per_x'] + '_additional'

In [54]:
df2 = pd.merge(df2,c_rate, left_on = 'fwd_additional_zone_key', right_on = 'key', how = 'left')

In [55]:
df2.rename(columns={'rate':'fwd_additional_zone_rate'},inplace=True)

In [56]:
df2.drop(['key_x','key_y'],axis=1,inplace=True)

In [57]:
df2['rto_fixed_zone_key'] = 'rto_' + df2['Zone_per_x'] + '_fixed'

In [58]:
df2 = pd.merge(df2,c_rate, left_on = 'rto_fixed_zone_key', right_on = 'key', how = 'left')

In [59]:
df2.rename(columns={'rate':'rto_fixed_rate'},inplace=True)
df2.drop('key',axis=1,inplace=True)

In [60]:
df2

,AWB Code,Order_ID,Total_weight_per_X_(kg),Weight Slab X(KG),Total_weight_Courier_(kg),Weight Slab courier(KG),Warehouse Pincode,Customer Pincode,Zone_per_x,Type of Shipment,Billing Amount (Rs.),Zone_per_courier,fwd_fixed_zone_key,fixed_zone_rate,fwd_additional_zone_key,fwd_additional_zone_rate,rto_fixed_zone_key,rto_fixed_rate
0,1091117222124,2001806232,1.302,1.5,1.30,1.5,121003,507101,d,Forward charges,135.0,d,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,41.3
1,1091117222194,2001806273,0.615,1.0,1.00,1.0,121003,486886,d,Forward charges,90.2,d,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,41.3
2,1091117222931,2001806408,2.265,2.5,2.50,2.5,121003,532484,d,Forward charges,224.6,d,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,41.3
3,1091117223244,2001806458,0.700,1.0,1.00,1.0,121003,143001,b,Forward charges,61.3,b,fwd_b_fixed,33.0,fwd_b_additional,28.3,rto_b_fixed,20.5
4,1091117229345,2001807012,0.240,0.5,0.15,0.5,121003,515591,d,Forward charges,45.4,d,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,41.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.500,0.5,0.73,1.0,121003,325207,d,Forward charges,90.2,b,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,41.3
120,1091117614452,2001809383,0.607,1.0,0.50,0.5,121003,303702,d,Forward and RTO charges,86.7,b,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,41.3
121,1091120922803,2001820978,0.515,1.0,0.50,0.5,121003,313301,d,Forward charges,45.4,b,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,41.3
122,1091121844806,2001811475,0.689,1.0,0.50,0.5,121003,173212,b,Forward charges,33.0,e,fwd_b_fixed,33.0,fwd_b_additional,28.3,rto_b_fixed,20.5
123,1091121846136,2001811305,0.750,1.0,0.50,0.5,121003,302020,d,Forward charges,45.4,b,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,41.3

In [61]:
df2['rto_additional_zone_key'] = 'rto_' + df2['Zone_per_x'] + '_additional'

In [62]:
df2 = pd.merge(df2,c_rate, left_on = 'rto_additional_zone_key', right_on = 'key', how = 'left')

In [63]:

df2.drop('key',axis=1,inplace=True)

In [64]:
df2.rename(columns={'rate':'rto_additional_rate'},inplace=True)

In [65]:
df2

,AWB Code,Order_ID,Total_weight_per_X_(kg),Weight Slab X(KG),Total_weight_Courier_(kg),Weight Slab courier(KG),Warehouse Pincode,Customer Pincode,Zone_per_x,Type of Shipment,Billing Amount (Rs.),Zone_per_courier,fwd_fixed_zone_key,fixed_zone_rate,fwd_additional_zone_key,fwd_additional_zone_rate,rto_fixed_zone_key,rto_fixed_rate,rto_additional_zone_key,rto_additional_rate
0,1091117222124,2001806232,1.302,1.5,1.30,1.5,121003,507101,d,Forward charges,135.0,d,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,41.3,rto_d_additional,44.8
1,1091117222194,2001806273,0.615,1.0,1.00,1.0,121003,486886,d,Forward charges,90.2,d,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,41.3,rto_d_additional,44.8
2,1091117222931,2001806408,2.265,2.5,2.50,2.5,121003,532484,d,Forward charges,224.6,d,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,41.3,rto_d_additional,44.8
3,1091117223244,2001806458,0.700,1.0,1.00,1.0,121003,143001,b,Forward charges,61.3,b,fwd_b_fixed,33.0,fwd_b_additional,28.3,rto_b_fixed,20.5,rto_b_additional,28.3
4,1091117229345,2001807012,0.240,0.5,0.15,0.5,121003,515591,d,Forward charges,45.4,d,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,41.3,rto_d_additional,44.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.500,0.5,0.73,1.0,121003,325207,d,Forward charges,90.2,b,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,41.3,rto_d_additional,44.8
120,1091117614452,2001809383,0.607,1.0,0.50,0.5,121003,303702,d,Forward and RTO charges,86.7,b,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,41.3,rto_d_additional,44.8
121,1091120922803,2001820978,0.515,1.0,0.50,0.5,121003,313301,d,Forward charges,45.4,b,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,41.3,rto_d_additional,44.8
122,1091121844806,2001811475,0.689,1.0,0.50,0.5,121003,173212,b,Forward charges,33.0,e,fwd_b_fixed,33.0,fwd_b_additional,28.3,rto_b_fixed,20.5,rto_b_additional,28.3
123,1091121846136,2001811305,0.750,1.0,0.50,0.5,121003,302020,d,Forward charges,45.4,b,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,41.3,rto_d_additional,44.8

In [66]:
df2['rto_fixed_rate'] = np.where(df2['Type of Shipment'] == 'Forward charges', 0, df2['rto_fixed_rate'])
df2['rto_additional_rate'] = np.where(df2['Type of Shipment'] == 'Forward charges', 0, df2['rto_additional_rate'])

In [67]:
df2

,AWB Code,Order_ID,Total_weight_per_X_(kg),Weight Slab X(KG),Total_weight_Courier_(kg),Weight Slab courier(KG),Warehouse Pincode,Customer Pincode,Zone_per_x,Type of Shipment,Billing Amount (Rs.),Zone_per_courier,fwd_fixed_zone_key,fixed_zone_rate,fwd_additional_zone_key,fwd_additional_zone_rate,rto_fixed_zone_key,rto_fixed_rate,rto_additional_zone_key,rto_additional_rate
0,1091117222124,2001806232,1.302,1.5,1.30,1.5,121003,507101,d,Forward charges,135.0,d,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,0.0,rto_d_additional,0.0
1,1091117222194,2001806273,0.615,1.0,1.00,1.0,121003,486886,d,Forward charges,90.2,d,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,0.0,rto_d_additional,0.0
2,1091117222931,2001806408,2.265,2.5,2.50,2.5,121003,532484,d,Forward charges,224.6,d,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,0.0,rto_d_additional,0.0
3,1091117223244,2001806458,0.700,1.0,1.00,1.0,121003,143001,b,Forward charges,61.3,b,fwd_b_fixed,33.0,fwd_b_additional,28.3,rto_b_fixed,0.0,rto_b_additional,0.0
4,1091117229345,2001807012,0.240,0.5,0.15,0.5,121003,515591,d,Forward charges,45.4,d,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,0.0,rto_d_additional,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.500,0.5,0.73,1.0,121003,325207,d,Forward charges,90.2,b,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,0.0,rto_d_additional,0.0
120,1091117614452,2001809383,0.607,1.0,0.50,0.5,121003,303702,d,Forward and RTO charges,86.7,b,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,41.3,rto_d_additional,44.8
121,1091120922803,2001820978,0.515,1.0,0.50,0.5,121003,313301,d,Forward charges,45.4,b,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,0.0,rto_d_additional,0.0
122,1091121844806,2001811475,0.689,1.0,0.50,0.5,121003,173212,b,Forward charges,33.0,e,fwd_b_fixed,33.0,fwd_b_additional,28.3,rto_b_fixed,0.0,rto_b_additional,0.0
123,1091121846136,2001811305,0.750,1.0,0.50,0.5,121003,302020,d,Forward charges,45.4,b,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,0.0,rto_d_additional,0.0

In [68]:
# expected price = fixed_zone_rate + additional_zone_rate*(weight_slab - 0.5)*2 + Fixed Rto zone rate + Additional Rto zone rate*(weight_slab - 0.5)*2

In [69]:
df2['Expected Bill X'] = df2['fixed_zone_rate'] + (df2['fwd_additional_zone_rate']*(df2['Weight Slab X(KG)']-0.5)*2) + df2['rto_fixed_rate'] + (df2['rto_additional_rate']*(df2['Weight Slab X(KG)']-0.5)*2)

In [70]:
df2

,AWB Code,Order_ID,Total_weight_per_X_(kg),Weight Slab X(KG),Total_weight_Courier_(kg),Weight Slab courier(KG),Warehouse Pincode,Customer Pincode,Zone_per_x,Type of Shipment,...,Zone_per_courier,fwd_fixed_zone_key,fixed_zone_rate,fwd_additional_zone_key,fwd_additional_zone_rate,rto_fixed_zone_key,rto_fixed_rate,rto_additional_zone_key,rto_additional_rate,Expected Bill X
0,1091117222124,2001806232,1.302,1.5,1.30,1.5,121003,507101,d,Forward charges,...,d,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,0.0,rto_d_additional,0.0,135.0
1,1091117222194,2001806273,0.615,1.0,1.00,1.0,121003,486886,d,Forward charges,...,d,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,0.0,rto_d_additional,0.0,90.2
2,1091117222931,2001806408,2.265,2.5,2.50,2.5,121003,532484,d,Forward charges,...,d,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,0.0,rto_d_additional,0.0,224.6
3,1091117223244,2001806458,0.700,1.0,1.00,1.0,121003,143001,b,Forward charges,...,b,fwd_b_fixed,33.0,fwd_b_additional,28.3,rto_b_fixed,0.0,rto_b_additional,0.0,61.3
4,1091117229345,2001807012,0.240,0.5,0.15,0.5,121003,515591,d,Forward charges,...,d,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,0.0,rto_d_additional,0.0,45.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.500,0.5,0.73,1.0,121003,325207,d,Forward charges,...,b,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,0.0,rto_d_additional,0.0,45.4
120,1091117614452,2001809383,0.607,1.0,0.50,0.5,121003,303702,d,Forward and RTO charges,...,b,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,41.3,rto_d_additional,44.8,176.3
121,1091120922803,2001820978,0.515,1.0,0.50,0.5,121003,313301,d,Forward charges,...,b,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,0.0,rto_d_additional,0.0,90.2
122,1091121844806,2001811475,0.689,1.0,0.50,0.5,121003,173212,b,Forward charges,...,e,fwd_b_fixed,33.0,fwd_b_additional,28.3,rto_b_fixed,0.0,rto_b_additional,0.0,61.3
123,1091121846136,2001811305,0.750,1.0,0.50,0.5,121003,302020,d,Forward charges,...,b,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,0.0,rto_d_additional,0.0,90.2

In [71]:
df2.drop(['fwd_fixed_zone_key','fixed_zone_rate','fwd_additional_zone_key',
          'fwd_additional_zone_rate','rto_fixed_zone_key','rto_fixed_rate',
          'rto_additional_zone_key','rto_additional_rate'],axis=1,inplace=True)

In [72]:
df2

,AWB Code,Order_ID,Total_weight_per_X_(kg),Weight Slab X(KG),Total_weight_Courier_(kg),Weight Slab courier(KG),Warehouse Pincode,Customer Pincode,Zone_per_x,Type of Shipment,Billing Amount (Rs.),Zone_per_courier,Expected Bill X
0,1091117222124,2001806232,1.302,1.5,1.30,1.5,121003,507101,d,Forward charges,135.0,d,135.0
1,1091117222194,2001806273,0.615,1.0,1.00,1.0,121003,486886,d,Forward charges,90.2,d,90.2
2,1091117222931,2001806408,2.265,2.5,2.50,2.5,121003,532484,d,Forward charges,224.6,d,224.6
3,1091117223244,2001806458,0.700,1.0,1.00,1.0,121003,143001,b,Forward charges,61.3,b,61.3
4,1091117229345,2001807012,0.240,0.5,0.15,0.5,121003,515591,d,Forward charges,45.4,d,45.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.500,0.5,0.73,1.0,121003,325207,d,Forward charges,90.2,b,45.4
120,1091117614452,2001809383,0.607,1.0,0.50,0.5,121003,303702,d,Forward and RTO charges,86.7,b,176.3
121,1091120922803,2001820978,0.515,1.0,0.50,0.5,121003,313301,d,Forward charges,45.4,b,90.2
122,1091121844806,2001811475,0.689,1.0,0.50,0.5,121003,173212,b,Forward charges,33.0,e,61.3
123,1091121846136,2001811305,0.750,1.0,0.50,0.5,121003,302020,d,Forward charges,45.4,b,90.2

In [73]:
df2['bill_difference'] = df2['Expected Bill X'].round(2)-df2['Billing Amount (Rs.)'].round(2)

In [74]:
df2

,AWB Code,Order_ID,Total_weight_per_X_(kg),Weight Slab X(KG),Total_weight_Courier_(kg),Weight Slab courier(KG),Warehouse Pincode,Customer Pincode,Zone_per_x,Type of Shipment,Billing Amount (Rs.),Zone_per_courier,Expected Bill X,bill_difference
0,1091117222124,2001806232,1.302,1.5,1.30,1.5,121003,507101,d,Forward charges,135.0,d,135.0,0.0
1,1091117222194,2001806273,0.615,1.0,1.00,1.0,121003,486886,d,Forward charges,90.2,d,90.2,0.0
2,1091117222931,2001806408,2.265,2.5,2.50,2.5,121003,532484,d,Forward charges,224.6,d,224.6,0.0
3,1091117223244,2001806458,0.700,1.0,1.00,1.0,121003,143001,b,Forward charges,61.3,b,61.3,0.0
4,1091117229345,2001807012,0.240,0.5,0.15,0.5,121003,515591,d,Forward charges,45.4,d,45.4,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.500,0.5,0.73,1.0,121003,325207,d,Forward charges,90.2,b,45.4,-44.8
120,1091117614452,2001809383,0.607,1.0,0.50,0.5,121003,303702,d,Forward and RTO charges,86.7,b,176.3,89.6
121,1091120922803,2001820978,0.515,1.0,0.50,0.5,121003,313301,d,Forward charges,45.4,b,90.2,44.8
122,1091121844806,2001811475,0.689,1.0,0.50,0.5,121003,173212,b,Forward charges,33.0,e,61.3,28.3
123,1091121846136,2001811305,0.750,1.0,0.50,0.5,121003,302020,d,Forward charges,45.4,b,90.2,44.8

In [75]:

df2.to_csv('supply_chain.csv',index=False)

In [76]:
df2

,AWB Code,Order_ID,Total_weight_per_X_(kg),Weight Slab X(KG),Total_weight_Courier_(kg),Weight Slab courier(KG),Warehouse Pincode,Customer Pincode,Zone_per_x,Type of Shipment,Billing Amount (Rs.),Zone_per_courier,Expected Bill X,bill_difference
0,1091117222124,2001806232,1.302,1.5,1.30,1.5,121003,507101,d,Forward charges,135.0,d,135.0,0.0
1,1091117222194,2001806273,0.615,1.0,1.00,1.0,121003,486886,d,Forward charges,90.2,d,90.2,0.0
2,1091117222931,2001806408,2.265,2.5,2.50,2.5,121003,532484,d,Forward charges,224.6,d,224.6,0.0
3,1091117223244,2001806458,0.700,1.0,1.00,1.0,121003,143001,b,Forward charges,61.3,b,61.3,0.0
4,1091117229345,2001807012,0.240,0.5,0.15,0.5,121003,515591,d,Forward charges,45.4,d,45.4,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.500,0.5,0.73,1.0,121003,325207,d,Forward charges,90.2,b,45.4,-44.8
120,1091117614452,2001809383,0.607,1.0,0.50,0.5,121003,303702,d,Forward and RTO charges,86.7,b,176.3,89.6
121,1091120922803,2001820978,0.515,1.0,0.50,0.5,121003,313301,d,Forward charges,45.4,b,90.2,44.8
122,1091121844806,2001811475,0.689,1.0,0.50,0.5,121003,173212,b,Forward charges,33.0,e,61.3,28.3
123,1091121846136,2001811305,0.750,1.0,0.50,0.5,121003,302020,d,Forward charges,45.4,b,90.2,44.8

# output data 2

In [78]:
df2['Result'] = np.where(df2.bill_difference == 0 , 'correctly charged',
                        np.where(df2.bill_difference>0,'Under Charged',
                                np.where(df2.bill_difference<0,'Over Charged', None )))

In [79]:
df2

,AWB Code,Order_ID,Total_weight_per_X_(kg),Weight Slab X(KG),Total_weight_Courier_(kg),Weight Slab courier(KG),Warehouse Pincode,Customer Pincode,Zone_per_x,Type of Shipment,Billing Amount (Rs.),Zone_per_courier,Expected Bill X,bill_difference,Result
0,1091117222124,2001806232,1.302,1.5,1.30,1.5,121003,507101,d,Forward charges,135.0,d,135.0,0.0,correctly charged
1,1091117222194,2001806273,0.615,1.0,1.00,1.0,121003,486886,d,Forward charges,90.2,d,90.2,0.0,correctly charged
2,1091117222931,2001806408,2.265,2.5,2.50,2.5,121003,532484,d,Forward charges,224.6,d,224.6,0.0,correctly charged
3,1091117223244,2001806458,0.700,1.0,1.00,1.0,121003,143001,b,Forward charges,61.3,b,61.3,0.0,correctly charged
4,1091117229345,2001807012,0.240,0.5,0.15,0.5,121003,515591,d,Forward charges,45.4,d,45.4,0.0,correctly charged
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.500,0.5,0.73,1.0,121003,325207,d,Forward charges,90.2,b,45.4,-44.8,Over Charged
120,1091117614452,2001809383,0.607,1.0,0.50,0.5,121003,303702,d,Forward and RTO charges,86.7,b,176.3,89.6,Under Charged
121,1091120922803,2001820978,0.515,1.0,0.50,0.5,121003,313301,d,Forward charges,45.4,b,90.2,44.8,Under Charged
122,1091121844806,2001811475,0.689,1.0,0.50,0.5,121003,173212,b,Forward charges,33.0,e,61.3,28.3,Under Charged
123,1091121846136,2001811305,0.750,1.0,0.50,0.5,121003,302020,d,Forward charges,45.4,b,90.2,44.8,Under Charged

In [80]:
df2.Result.unique()

array(['correctly charged', 'Under Charged', 'Over Charged'], dtype=object)

In [81]:
Final_summary = df2.groupby('Result').agg({'Order_ID':'count', 'Billing Amount (Rs.)':'sum'})

In [82]:
Final_summary.reset_index(inplace=True)

In [83]:
Final_summary

              Result  Order_ID  Billing Amount (Rs.)
0       Over Charged        51                5906.4
1      Under Charged        21                3257.2
2  correctly charged        52                4484.6

In [84]:
Final_summary.to_csv('Summary_Finalize table.csv')

In [85]:
df1

          AWB Code    Order_ID
0    1091117222124  2001806232
1    1091117222194  2001806273
2    1091117222931  2001806408
3    1091117223244  2001806458
4    1091117229345  2001807012
..             ...         ...
119  1091118551656  2001812941
120  1091117614452  2001809383
121  1091120922803  2001820978
122  1091121844806  2001811475
123  1091121846136  2001811305

[124 rows x 2 columns]